@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Nunito+Sans:wght@500&family=Poppins:wght@100;300;400;500;600&family=Raleway:ital,wght@0,600;0,700;0,800;1,500;1,600;1,800&family=Rubik+Vinyl&family=Sorts+Mill+Goudy:ital@1&family=Wix+Madefor+Text:ital,wght@0,500;0,600;1,500&display=swap");

:root {
  /*! Colors */
  --white: #ffd;
  --black: hsl(238, 94%, 6%);
  --green: hsl(180, 83%, 24%);
  --green-light: hsl(180, 83%, 40%);
  --olive: hsl(72, 22%, 67%);
  --yellow-dark: hsl(39, 84%, 53%);
  --orange-dark: hsl(15, 98%, 30%);
  --orange-vivid: hsl(15, 98%, 50%);
  --orange-light: hsl(15, 90%, 65%);

  /*! Font-Families  */
  --ff-roboto: "Roboto", sans-serif;
  --ff-smokum: "Smokum", cursive;
  --ff-nunito: "Nunito Sans", sans-serif;

  /*! Font-Sizes  */
  --fs-3xl: 3rem;
  --fs-2xl: 2rem;
  --fs-xl: 1.8rem;
  --fs-lg: 1.4rem;
  --fs-md: 1rem;
  --fs-xs: 0.6rem;
  --fs-sm: 0.9rem;

  /*! Shadows  */
  --shadow-light: 0 0 10px rgba(0, 0, 0, 0.3);
  --shadow-dark: 0 0 10px rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-nunito);
}
body {
  background-color: var(--olive);
}

.main {
  background-color: var(--black);
  color: #fff;
  width: 30rem;

  border-radius: 50px;
  margin: 10rem auto;
  outline: 1.5px solid #eee9e9;
  outline-offset: 2px;

 
}
.cal__item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 50px;
  width: 25rem;
  margin-left: 24px;
 
}

.cal__input input {
  width: 27rem;
  height: 10vh;
  font-size: 4rem;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: end;
  margin-left: 10px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.02);
  color: #fff;
}
.cal__number {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 60px 60px 60px 60px;
  margin: 0 auto;
  width: 90%;
  gap: 10px;
  margin-top: 30px;
}
.cal__number .div {
  background-color: #fff;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: 400;

}
.div__item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div__item2 #arti {
  position: absolute;
  top: 10px;
  font-size: 2rem;
}
.div__item2 #eksi {
  position: absolute;
  bottom: 9px;
  font-size: 2.5rem;
}
.div__item17 {
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 30px !important;
}

.orange {
  background-color: rgba(255, 166, 0, 0.788) !important;
  color: #fff !important;
  font-size: 2.8rem;
}
.gray {
  background-color: #c9c4c4e8 !important;
}
.number {
  background-color: #9e97975b !important;
  color: #fff !important;
}
.number:hover,
.gray:hover,
.orange:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.2s ease;
}

.cal__bottom {
margin-top: 70px;
margin-left: 110px;
    
}

.cal__bottom hr{
  width: 50%;
  height: 5px;
  background-color: #ffffffda;
  border-radius: 40px;
}


